.balloon-container {
	margin:auto;
    height: 200px;
    width: 200px;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

h2 {
	text-align: center;
}

.balloon {
	text-align: center;
	margin-top: 60px;
	font-size: 30px;
}